<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tienda Online</title>
</head>
<body>
    {% block content %}

    <h1>Prueba de LOGIN</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam dolores, reiciendis dolorum quia architecto repellat quo ullam quas, 
    magnam dolore delectus corrupti vero odit voluptatibus quae nostrum tenetur, incidunt aspernatur.</p>

    <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

    {% endblock %}
</html>

<!DOCTYPE html>
<html>